<!DOCTYPE html>
<html>
<head>
	<title>Калькулятор математика</title>
</head>
<style type="text/css">
	p{
			font-family: serif;
		}
</style>
<script type="text/javascript">
	
	        function Complete()
	        {
	            var json=JSON.stringify({
								n : 	document.fact.n.value
							});
							var xhr = new XMLHttpRequest();
							xhr.open("POST", '/submit', true);
							xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

							xhr.send(json);
							xhr.onreadystatechange = function()
        			{
								if (xhr.readyState==4 && xhr.status==200)
{
						 	var resp = JSON.parse(xhr.responseText);
							alert(resp['res']);
}
}


	        }
</script>
<body background="/static/img/bg.svg">
<H1>Считаем факториал числа</H1>
<FORM NAME="fact">
	    <input type="text" name="n">
	    <INPUT TYPE="button" VALUE="Посчитать" onClick="Complete();">
	    <INPUT TYPE="reset" VALUE="Сброс">
</FORM>

</body>
</html>
