<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css"
	>	p{
			font-family: font-family: "Palati	no Linotype", "Book Antiqua", Palatino, serif;
		}
</style>
<script type="text/javascript">
	function Solve()
	        {
	            var json=JSON.stringify({
	            				's' : document.nsl.s.value,
								
											'n' : 	document.nsl.n.value
							});
							var xhr = new XMLHttpRequest();
							//блять Владос ты ебанутый. Вот тут где sumbit1 Url с обработчиками
							xhr.open("POST", '/submit1', true);
							xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

							xhr.send(json);
							
							xhr.onreadystatechange = function()
        			{
								if (xhr.readyState==4 && xhr.status==200)
								{
							
						 	var resp = JSON.parse(xhr.responseText);
							alert(resp['res']);
							}
						}
	        }
</script>
<body background="/static/img/bg.svg">
	<script>
	    </script>1
	</head>
	<body>
	<h1>Решение(2 параметра)<br>
	в первую форму вводится само задание<br>
	Во второй форме - результат системы счисления<br>
	Пример: <br>1 форма: 123(2) + 123(2)<br>2 форма: 8<br>
	Результат: 26<br>
	Также можно перевести число из одной системы счисления в другую<br>
	Пример :<br>1 форма:101010(2) = 10<br>2 форма: 1</h1>
	<form name="nsl">
		<input type="text" name="s">
		<input type="text" name="n">
		<input type="button" value="Посчитать" onClick="Solve();">
		<input type="button" value="Сброс">
	</form>

	</body>
	</html>
